* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid green;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.post__btn button {
  padding: 5px;
}

.item-enter {
  transform: translateX(-350px);
}

.item-enter-active {
  transform: translateX(0px);
  transition: transform 500ms ease-in;
}

.item-exit {
  opacity: 1;
  transform: translateX(0px);
}

.item-exit-active {
  transform: translateX(-350px);
  opacity: 0.5;
  transition: all 500ms ease-in;
}
